# Предобработка

## Импорт модулей

In [53]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import math
import seaborn as sns

In [54]:
from feature import Features

## Подключение данных

In [55]:
df = pd.read_csv('train.csv', low_memory=False)

In [56]:
df

,Unnamed: 0,applicant_ethnicity,income,applicant_race_1,applicant_race_2,applicant_race_3,applicant_race_4,applicant_race_5,applicant_sex,co_applicant_ethnicity,...,preapproval,property_type,purchaser_type,hud_median_family_income,loan_amount,number_of_1_to_4_family_units,number_of_owner_occupied_units,minority_population,population,target
0,0,2,54.0,5.0,NaN,NaN,NaN,NaN,2,4,...,2,3,0,79500,205000.0,1309,568,45.83,2878,True
1,1,2,168.0,5.0,NaN,NaN,NaN,NaN,1,4,...,2,3,71,67500,215000.0,2919,1296,76.18,6071,True
2,2,2,179.0,5.0,NaN,NaN,NaN,NaN,1,2,...,2,3,1,83200,505000.0,826,594,7.54,1339,True
3,3,2,68.0,5.0,NaN,NaN,NaN,NaN,1,2,...,2,3,2,90400,235000.0,1519,920,22.16,3650,True
4,4,3,49.0,5.0,NaN,NaN,NaN,NaN,1,4,...,2,3,1,73500,245000.0,2201,1736,27.89,6797,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107606,1107606,2,218.0,5.0,NaN,NaN,NaN,NaN,2,2,...,2,3,0,86100,255000.0,1670,1335,36.88,5019,False
1107607,1107607,2,90.0,5.0,NaN,NaN,NaN,NaN,2,4,...,2,3,0,82100,335000.0,2573,1570,57.53,7344,False
1107608,1107608,2,117.0,5.0,NaN,NaN,NaN,NaN,1,2,...,2,3,0,80100,225000.0,3310,496,59.35,7565,False
1107609,1107609,2,37.0,5.0,NaN,NaN,NaN,NaN,1,4,...,2,3,0,90300,215000.0,922,358,81.23,5536,False
1107610,1107610,2,52.0,5.0,NaN,NaN,NaN,NaN,1,2,...,2,3,0,76000,65000.0,2694,2345,22.82,6031,False

## Приведение типов

In [57]:
bool_map = {True: 1, False: 0}
df[Features.TARGET.value] = df[Features.TARGET.value].map(bool_map)

## Заполнение пропусков

In [58]:
df = df.apply(lambda column: column.fillna(0), axis=0)

## Выгрузка данных

In [59]:
df.to_csv('post_train.csv', index=False)